In [ ]:
"""
En este paso filtramos el dataset de alumnos por el año 2016 y hacemos join con el dataset de escuelas.
Luego eliminamos NULLs y grabamos el file df_final.csv. Pensando en predecir el campo nivel_desemp_matematica, 
lo transofrmamos en dos categorias, SATIFACTORIO con valor 0 (satifactorio y avanzado) y 1 BÁSICO (básico y por debajo de básico).
Para ejecutar este paso deben tener en la carpeta /desafio3/datasets , los datasets app_alumno.csv y app_escuela.csv.
"""

import pandas as pd
df = pd.read_csv('../Desafio 3/datasets/app_alumno.csv', parse_dates=True, na_values=['nc'], low_memory=False)
df_escuelas = pd.read_csv('../Desafio 3/datasets/app_escuela.csv', parse_dates=True, na_values=['nc'], low_memory=False)
df_provincia = pd.read_csv('../Desafio 3/datasets/app_provincia.csv', parse_dates=True, na_values=['nc'], low_memory=False)
df_departamento = pd.read_csv('../Desafio 3/datasets/app_departamento.csv', parse_dates=True, na_values=['nc'], low_memory=False)
df_salario = pd.read_csv('../Desafio 3/datasets/app_salario.csv', parse_dates=True, na_values=['nc'], low_memory=False)
df_gastonivel = pd.read_csv('../Desafio 3/datasets/app_gastonivel.csv', parse_dates=True, na_values=['nc'], low_memory=False)
df_gastoobjeto = pd.read_csv('../Desafio 3/datasets/app_gastoobjeto.csv', parse_dates=True, na_values=['nc'], low_memory=False)
df_poblacion = pd.read_excel('../Desafio 3/datasets/poblacion por provincia.xlsx')

In [2]:
# Limpieza del dataset "original"
df = df[(df['nivel_desemp_matematica'].notnull()) & (df['year_id'] == 2016)]
df = df.drop(['id','repeticion_secundaria','nivel_desemp_ciencias_sociales','nivel_desemp_ciencias_naturales','year_id'], axis=1)
df = df.dropna(axis=0)
df['nivel_desemp_matematica'] = df['nivel_desemp_matematica'].apply(lambda x: 0 if x in ['satisfactorio','avanzado'] else 1)

In [3]:
# Limpieza del dataset de escuelas
df_escuelas = df_escuelas.rename(columns={'id': 'escuela_id'})
df_escuelas = df_escuelas.drop('icse_cat', axis=1)

In [4]:
# Limpieza del dataset de salario
df_salario = df_salario[(df_salario['year_id'] == 2016)]
df_salario = df_salario.groupby(['provincia_id', 'name'])['value'].aggregate('mean').unstack()

In [5]:
df_salario

name,director_primaria,director_secundaria,maestro_de_grado,maestro_inicial,profesor_secundaria_15hs,profesor_snu
provincia_id,,,,,,
0,18795.31,16680.16,12033.14,12033.14,9306.40,9306.40
1,13807.37,15052.58,9137.21,9210.75,9129.61,9126.91
2,14730.69,17607.31,12036.97,12417.97,10676.76,10265.28
3,29250.37,28743.28,14753.74,14753.74,11065.31,10411.72
4,27996.25,27099.79,11744.66,11744.66,8995.75,7937.70
5,20488.88,20488.88,10385.56,10469.81,9463.53,9410.44
6,21111.32,24021.32,16149.26,16149.26,11188.21,10359.99
7,17510.35,18653.24,11715.67,11820.31,7871.23,8116.96
8,16637.84,23651.81,9715.07,9881.27,9731.69,9721.71
9,20123.47,22331.49,11252.24,11252.24,11014.56,11427.08
10,24410.76,29194.49,15191.37,15191.37,14248.48,14256.94
11,14360.49,16052.83,9954.11,10240.20,8775.77,8776.06
12,18558.69,19951.51,11761.32,11761.32,8262.52,7610.03
13,16588.62,18490.61,11737.29,12222.29,11724.56,12252.67
14,30006.80,30576.46,15194.85,15434.27,11180.56,9696.04
15,21008.22,21008.22,11926.89,11926.89,7353.41,8165.12
16,19642.20,19642.20,13336.56,14146.66,10284.17,9041.47
17,17963.24,19326.99,11743.59,11781.63,11483.26,11181.62
18,23861.46,23861.46,13384.96,13415.46,13384.98,13648.24
19,41341.46,41341.46,18202.38,18202.38,15383.73,13525.58
20,22264.79,23958.12,14500.81,14499.52,8720.55,8717.45
21,13061.00,13983.59,9170.63,9189.33,9172.97,9171.57
22,39005.04,40499.23,18297.75,18297.75,13344.77,12162.84
23,20947.32,22060.70,12869.07,13079.97,12895.43,12849.61

In [6]:
# Limpieza del dataset de gasto nivel
df_gastonivel = df_gastonivel[(df_gastonivel['year_id'] == 2016)]
df_gastonivel = df_gastonivel.groupby(['provincia_id', 'name'])['value'].aggregate('mean').unstack()

df_gastonivel = df_gastonivel.merge(df_poblacion, how='inner', left_on=['provincia_id'],right_on=['id'])

df_gastonivel = df_gastonivel[['inicial+primaria', 'privada', 'secundaria', 'sin_discriminar', 'snu']].div(df_gastonivel.poblacion, axis=0)

df_gastonivel['provincia_id'] = df_gastonivel.index

In [8]:
df_gastonivel

,inicial+primaria,privada,secundaria,sin_discriminar,snu,provincia_id
0,2596.019912,923.127478,2429.997161,1135.624953,326.862711,0
1,5793.271151,1356.583256,4675.693971,1440.394769,1052.284649,1
2,5372.593971,975.447972,4038.223831,1716.850584,681.349810,2
3,7704.392738,679.790382,5198.510839,2337.913066,1076.255796,3
4,3459.381441,1570.304930,2324.249551,1300.041646,626.927842,4
5,3235.103664,887.275129,4000.798767,657.280720,682.927251,5
6,2926.410493,1782.640937,2602.015661,390.757999,437.982289,6
7,4483.908141,1596.288683,3845.966277,348.881359,331.107847,7
8,5724.724145,350.303711,4218.216788,608.667934,910.485584,8
9,5064.893172,607.419795,4268.715547,722.322299,413.034920,9
10,7711.486645,1533.092516,5204.237968,1881.110440,524.316049,10
11,5314.832719,471.997593,3873.583038,758.887775,1173.657103,11
12,3426.431248,881.755086,3299.496536,369.687048,597.951509,12
13,4325.477637,1748.749318,3043.394829,830.296364,333.483963,13
14,9672.784072,979.209641,7810.582811,2112.270829,1196.534923,14
15,6331.446204,861.160188,3978.637378,1973.113692,565.111066,15
16,4499.009926,528.201105,2869.718041,527.982878,313.861474,16
17,4279.230514,1353.820740,2914.840577,940.528995,287.837207,17
18,2762.648590,1400.649770,3347.818424,4103.031477,499.080246,18
19,10628.732381,2710.098951,8267.930400,5480.649914,606.927136,19
20,4383.535533,1780.562981,2296.868552,295.785644,356.327523,20
21,2973.294307,899.335257,2004.993344,685.621782,535.986520,21
22,14020.608718,2362.724390,9208.228442,5737.832310,2362.147840,22
23,3316.299804,726.324553,3027.824220,528.244725,254.200757,23

In [9]:
# Limpieza del dataset de gasto objeto
df_gastoobjeto = df_gastoobjeto[(df_gastoobjeto['year_id'] == 2016)]
df_gastoobjeto = df_gastoobjeto.groupby(['provincia_id', 'name'])['value'].aggregate('mean').unstack()

df_gastoobjeto = df_gastoobjeto.merge(df_poblacion, how='inner', left_on=['provincia_id'],right_on=['id'])

df_gastoobjeto = df_gastoobjeto[['bienes_y_servicios_no_personales', 'erogacion_de_capital', 'personal', 'transferencias_educacion_privada', 'transferencias_otras']].div(df_gastoobjeto.poblacion, axis=0)

df_gastoobjeto['provincia_id'] = df_gastoobjeto.index

In [10]:
df_gastoobjeto

,bienes_y_servicios_no_personales,erogacion_de_capital,personal,transferencias_educacion_privada,transferencias_otras,provincia_id
0,113.910918,91.242470,6278.975893,923.127478,4.375457,0
1,455.511513,539.491981,11664.081012,1356.583255,302.560033,1
2,291.415870,340.427614,10903.656889,975.447972,273.517822,2
3,601.573597,630.187388,14998.498341,679.790383,86.813113,3
4,748.074394,375.691067,6253.044614,1570.304930,333.790405,4
5,335.635958,375.403124,7862.335102,887.275129,2.736219,5
6,237.287767,198.123118,5918.518382,1782.640937,3.237176,6
7,148.961765,342.570633,8451.558552,1596.288683,66.772674,7
8,223.686225,1619.695945,9610.472706,350.303710,8.239575,8
9,19.601074,263.926781,10164.323258,607.419795,21.114826,9
10,1247.730020,482.677459,13539.019525,1533.092514,51.724095,10
11,389.589199,296.442933,10422.512854,471.997595,12.415643,11
12,199.323252,181.630920,7188.952007,881.755086,123.660161,12
13,91.751050,325.526757,7896.719229,1748.749319,218.655757,13
14,1236.442733,538.524036,18944.221942,979.209641,72.983925,14
15,503.458304,466.935365,11630.526715,861.160188,247.387957,15
16,203.194795,352.389111,7351.297324,528.201105,303.691090,16
17,594.494516,1178.257915,6619.730565,1353.820740,29.954297,17
18,357.430187,2186.807791,5953.018063,1400.649769,2215.322696,18
19,826.447241,337.140642,23433.817800,2710.098952,386.834151,19
20,174.826282,147.327086,7007.474166,1780.562981,2.889718,20
21,150.537627,566.122011,5458.063337,899.335258,25.172977,21
22,656.874755,1075.347430,29586.929523,2362.724392,9.665601,22
23,77.060007,297.630064,6598.355577,726.324553,153.523858,23

In [11]:
# Merge de los dataset limpios
df = df.merge(df_escuelas, how='inner', on ='escuela_id')
df = df.merge(df_salario, how = 'inner', on = 'provincia_id')
df = df.merge(df_gastonivel, how = 'inner', on = 'provincia_id')
df = df.merge(df_gastoobjeto, how = 'inner', on = 'provincia_id')

In [12]:
df.head(4)

,sexo,indice_socioeconomico,nivel_desemp_matematica,nivel_desemp_lengua,ponderador_lengua,ponderador_matematica,ponderador_ciencias_naturales,ponderador_ciencias_sociales,tiene_notebook,tiene_pc,...,inicial+primaria,privada,secundaria,sin_discriminar,snu,bienes_y_servicios_no_personales,erogacion_de_capital,personal,transferencias_educacion_privada,transferencias_otras
0,f,medio,0,avanzado,1.309467,1.308268,-1.0,-1.0,no,si,...,3459.381441,1570.30493,2324.249551,1300.041646,626.927842,748.074394,375.691067,6253.044614,1570.30493,333.790405
1,f,alto,0,avanzado,1.309467,1.308268,-1.0,-1.0,si,si,...,3459.381441,1570.30493,2324.249551,1300.041646,626.927842,748.074394,375.691067,6253.044614,1570.30493,333.790405
2,m,medio,0,satisfactorio,1.309467,1.308268,-1.0,-1.0,si,si,...,3459.381441,1570.30493,2324.249551,1300.041646,626.927842,748.074394,375.691067,6253.044614,1570.30493,333.790405
3,m,medio,0,avanzado,1.309467,1.308268,-1.0,-1.0,no,si,...,3459.381441,1570.30493,2324.249551,1300.041646,626.927842,748.074394,375.691067,6253.044614,1570.30493,333.790405

In [14]:
df.shape

(311428, 47)

In [15]:
# Veo la cantidad de almunos por provincia
cantidad = pd.DataFrame(df.provincia_id.value_counts())
cantidad['id'] = cantidad.index
cantidad = cantidad.merge(df_provincia, how = 'inner', on = 'id')
cantidad

    provincia_id  id                    name
0         113692   0            Buenos Aires
1          35463   6                 Córdoba
2          20871  20                Santa Fe
3          16046  12                 Mendoza
4          12377  23                 Tucumán
5          12341  16                   Salta
6          10500  13                Misiones
7          10478   7              Entre Ríos
8           9190   4  Ciudad de Buenos Aires
9           8583   5              Corrientes
10          8023  21     Santiago del Estero
11          7586  17                San Juan
12          7200   2                   Chaco
13          7163   9                   Jujuy
14          5591   8                 Formosa
15          4305   3                  Chubut
16          4085  18                San Luis
17          4059  15               Río Negro
18          3440  11                La Rioja
19          2973  10                La Pampa
20          2893   1               Catamarca
21          2000  14                 Neuquén
22          1550  19              Santa Cruz
23          1019  22        Tierra del Fuego

In [16]:
df_escuelas.describe()

,escuela_id,icse,indice_socioeconomico_medio,departamento_id,provincia_id
count,6.573200e+04,65732.000000,65732.000000,48786.000000,65732.000000
mean,7.789938e+09,-0.408552,0.210513,109.678063,7.648756
std,8.089074e+09,0.708032,1.424044,76.839833,7.567063
min,6.000030e+07,-1.000000,-1.000000,0.000000,0.000000
25%,1.585786e+09,-1.000000,-1.000000,40.000000,0.000000
50%,3.904090e+09,-1.000000,-1.000000,99.000000,6.000000
75%,1.254251e+10,0.332000,1.783916,176.000000,13.000000
max,4.500890e+10,0.911000,3.000000,250.000000,23.000000

In [17]:
df = df.dropna(axis=0)
print('#######SHAPE:','\n',df.shape,'\n','#######','\n')
print('#######VALUE_COUNTS:','\n',df['nivel_desemp_matematica'].value_counts(),'\n','#######','\n')
print('#######NULLs:','\n',(df.isnull().sum()/df.shape[0])*100,'\n','#######','\n')
print('#######BALANCE:','\n',df['nivel_desemp_matematica'].value_counts(),'\n','#######','\n')
df.to_csv('../Desafio 3/datasets/df_final.csv')

#######SHAPE:
 (293689, 47)
 #######

#######VALUE_COUNTS:
 0    176110
1    117579
Name: nivel_desemp_matematica, dtype: int64
 #######

#######NULLs:
 sexo                                0.0
indice_socioeconomico               0.0
nivel_desemp_matematica             0.0
nivel_desemp_lengua                 0.0
ponderador_lengua                   0.0
ponderador_matematica               0.0
ponderador_ciencias_naturales       0.0
ponderador_ciencias_sociales        0.0
tiene_notebook                      0.0
tiene_pc                            0.0
tiene_tablet                        0.0
tiene_celular                       0.0
tiene_smartphone                    0.0
tiene_consola                       0.0
tiene_smarttv                       0.0
tiene_cable                         0.0
tiene_internet_x                    0.0
repeticion_primaria                 0.0
escuela_id                          0.0
nivel_id                            0.0
ambito                              0.0
gestion                             0.0
icse                                0.0
indice_socioeconomico_medio         0.0
indice_socioeconomico_medio_cat     0.0
tecnica                             0.0
tiene_internet_y                    0.0
subvencion                          0.0
dependencia                         0.0
departamento_id                     0.0
provincia_id                        0.0
director_primaria                   0.0
director_secundaria                 0.0
maestro_de_grado                    0.0
maestro_inicial                     0.0
profesor_secundaria_15hs            0.0
profesor_snu                        0.0
inicial+primaria                    0.0
privada                             0.0
secundaria                          0.0
sin_discriminar                     0.0
snu                                 0.0
bienes_y_servicios_no_personales    0.0
erogacion_de_capital                0.0
personal                            0.0
transferencias_educacion_privada    0.0
transferencias_otras                0.0
dtype: float64
 #######

#######BALANCE:
 0    176110
1    117579
Name: nivel_desemp_matematica, dtype: int64
 #######

In [18]:
"""
En este paso, levantamos el nuevo dataset y convertimos al tipo de dato category las columnas que consideramos categoricas
"""
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder 
from sklearn.preprocessing import RobustScaler
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.pipeline import make_pipeline, make_union, Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn import metrics
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

df = pd.read_csv('../Desafio 3/datasets/df_final.csv', parse_dates=True, na_values=['nc'], low_memory=False)
df = df.drop('Unnamed: 0', axis=1)
for i in df.columns:
    if (df[i].dtype == object) or i in ['nivel_id', 'escuela_id', 'provincia_id', 'departamento_id']:
        df[i] = pd.Categorical(df[i])

Bad key "text.kerning_factor" on line 4 in
C:\Users\gbulgach\AppData\Local\Continuum\anaconda3\envs\dhdsblend\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
http://github.com/matplotlib/matplotlib/blob/master/matplotlibrc.template
or from the matplotlib source distribution

In [19]:

"""A continuación ejecutamos modelos de regresión logistica para validar que el dataset final sea adecuado para trabajar .
"""
X = df.drop('nivel_desemp_matematica', axis=1)
y = df['nivel_desemp_matematica']
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify = y, random_state=42)

In [ ]:
class ColumnSelector(BaseEstimator, TransformerMixin):
    def __init__(self, columns = 'n'):
        self.columns = columns
    
    def transform(self, X, *_):
        if isinstance(X, pd.DataFrame):
            #c para tomar columnas categoricas, cualquier otro valor para tomar continuas.
            if self.columns == 'c':
                categorical_columns = [col for col in X.columns if pd.api.types.is_categorical_dtype(X[col])]
                return pd.DataFrame(X[categorical_columns])
            else:
                scal_columns = [col for col in X.columns if (pd.api.types.is_categorical_dtype(X[col]) == False)]
                return pd.DataFrame(X[scal_columns])
        else:
            raise TypeError("Este Transformador solo funciona en DF de Pandas")
    
    def fit(self, X, *_):
        return self
cat_pipe = make_pipeline(ColumnSelector('c'),OneHotEncoder(handle_unknown='ignore'))
num_pipe = make_pipeline(ColumnSelector('n'),StandardScaler())
union = make_union(num_pipe,
                   cat_pipe)

In [ ]:
#Este paso tarda bastante dado que ejecutamos un random grid search.
"""
RESULTADO: 
Best score: 0.739
Best parameters set:
	 log__C: 0.1
	 log__penalty: 'l2'
              precision    recall  f1-score   support

           0       0.77      0.81      0.79     44028
           1       0.69      0.63      0.66     29395

    accuracy                           0.74     73423
   macro avg       0.73      0.72      0.72     73423
weighted avg       0.73      0.74      0.74     73423

0.7373302643585797

##########################################################################################

RESULTADO CON MAS FEATURES:
Best score: 0.738
Best parameters set:
	 log__C: 0.1
	 log__penalty: 'l2'
              precision    recall  f1-score   support

           0       0.77      0.80      0.79     44028
           1       0.69      0.64      0.66     29395

    accuracy                           0.74     73423
   macro avg       0.73      0.72      0.73     73423
weighted avg       0.74      0.74      0.74     73423

0.7399316290535664



"""
union.fit_transform(X)

pipeline = Pipeline([('union', union), 
                     ('log', LogisticRegression(solver='liblinear'))])

parameters = {'log__penalty': ['l1', 'l2'],
              'log__C': [0.01, 0.1, 1, 10, 100]}
folds=StratifiedKFold(n_splits=5,shuffle=True, random_state=42)
grid_search = RandomizedSearchCV(pipeline, parameters,cv=folds, n_jobs = 5)
grid_search.fit(pd.DataFrame(X_train, columns=X.columns), y_train)

print("Best score: %0.3f" % grid_search.best_score_) 
print("Best parameters set:" )
best_parameters = grid_search.best_estimator_.get_params()
for param_name in sorted (parameters . keys()): 
                    print("\t %s: %r" % (param_name, best_parameters[param_name])) 
y_pred = grid_search.best_estimator_.predict(X_test)
print(classification_report(y_test, y_pred))
print(accuracy_score(y_test, y_pred))

In [ ]:
print('\nconfusion:\n',confusion_matrix(y_test, y_pred))