In [4]:
"""
En este paso filtramos el dataset de alumnos por el año 2016 y hacemos join con el dataset de escuelas.
Luego eliminamos NULLs y grabamos el file df_final.csv. Pensando en predecir el campo nivel_desemp_matematica, 
lo transofrmamos en dos categorias, SATIFACTORIO con valor 0 (satifactorio y avanzado) y 1 BÁSICO (básico y por debajo de básico).
Para ejecutar este paso deben tener en la carpeta /desafio3/datasets , los datasets app_alumno.csv y app_escuela.csv.
"""

import pandas as pd
df = pd.read_csv('../Desafio 3/datasets/app_alumno.csv', parse_dates=True, na_values=['nc'], low_memory=False)
df_escuelas = pd.read_csv('../Desafio 3/datasets/app_escuela.csv', parse_dates=True, na_values=['nc'], low_memory=False)
df_provincia = pd.read_csv('../Desafio 3/datasets/app_provincia.csv', parse_dates=True, na_values=['nc'], low_memory=False)
df_departamento = pd.read_csv('../Desafio 3/datasets/app_departamento.csv', parse_dates=True, na_values=['nc'], low_memory=False)
df_salario = pd.read_csv('../Desafio 3/datasets/app_salario.csv', parse_dates=True, na_values=['nc'], low_memory=False)
df_gastonivel = pd.read_csv('../Desafio 3/datasets/app_gastonivel.csv', parse_dates=True, na_values=['nc'], low_memory=False)
df_gastoobjeto = pd.read_csv('../Desafio 3/datasets/app_gastoobjeto.csv', parse_dates=True, na_values=['nc'], low_memory=False)

In [5]:
# Limpieza del dataset "original"
df = df[(df['nivel_desemp_matematica'].notnull()) & (df['year_id'] == 2016)]
df = df.drop(['id','repeticion_secundaria','nivel_desemp_ciencias_sociales','nivel_desemp_ciencias_naturales','year_id'], axis=1)
df = df.dropna(axis=0)
df['nivel_desemp_matematica'] = df['nivel_desemp_matematica'].apply(lambda x: 0 if x in ['satisfactorio','avanzado'] else 1)

In [10]:
df.columns

Index(['sexo', 'indice_socioeconomico', 'nivel_desemp_matematica',
       'nivel_desemp_lengua', 'ponderador_lengua', 'ponderador_matematica',
       'ponderador_ciencias_naturales', 'ponderador_ciencias_sociales',
       'tiene_notebook', 'tiene_pc', 'tiene_tablet', 'tiene_celular',
       'tiene_smartphone', 'tiene_consola', 'tiene_smarttv', 'tiene_cable',
       'tiene_internet', 'repeticion_primaria', 'escuela_id', 'nivel_id'],
      dtype='object')

In [11]:
# Limpieza del dataset de escuelas
df_escuelas = df_escuelas.rename(columns={'id': 'escuela_id'})
df_escuelas = df_escuelas.drop('icse_cat', axis=1)

In [12]:
# Limpieza del dataset de salario
df_salario = df_salario[(df_salario['year_id'] == 2016)]
df_salario = df_salario.groupby(['provincia_id', 'name'])['value'].aggregate('mean').unstack()

In [24]:
df_salario

name,director_primaria,director_secundaria,maestro_de_grado,maestro_inicial,profesor_secundaria_15hs,profesor_snu
provincia_id,,,,,,
0,18795.31,16680.16,12033.14,12033.14,9306.40,9306.40
1,13807.37,15052.58,9137.21,9210.75,9129.61,9126.91
2,14730.69,17607.31,12036.97,12417.97,10676.76,10265.28
3,29250.37,28743.28,14753.74,14753.74,11065.31,10411.72
4,27996.25,27099.79,11744.66,11744.66,8995.75,7937.70
5,20488.88,20488.88,10385.56,10469.81,9463.53,9410.44
6,21111.32,24021.32,16149.26,16149.26,11188.21,10359.99
7,17510.35,18653.24,11715.67,11820.31,7871.23,8116.96
8,16637.84,23651.81,9715.07,9881.27,9731.69,9721.71
9,20123.47,22331.49,11252.24,11252.24,11014.56,11427.08
10,24410.76,29194.49,15191.37,15191.37,14248.48,14256.94
11,14360.49,16052.83,9954.11,10240.20,8775.77,8776.06
12,18558.69,19951.51,11761.32,11761.32,8262.52,7610.03
13,16588.62,18490.61,11737.29,12222.29,11724.56,12252.67
14,30006.80,30576.46,15194.85,15434.27,11180.56,9696.04
15,21008.22,21008.22,11926.89,11926.89,7353.41,8165.12
16,19642.20,19642.20,13336.56,14146.66,10284.17,9041.47
17,17963.24,19326.99,11743.59,11781.63,11483.26,11181.62
18,23861.46,23861.46,13384.96,13415.46,13384.98,13648.24
19,41341.46,41341.46,18202.38,18202.38,15383.73,13525.58
20,22264.79,23958.12,14500.81,14499.52,8720.55,8717.45
21,13061.00,13983.59,9170.63,9189.33,9172.97,9171.57
22,39005.04,40499.23,18297.75,18297.75,13344.77,12162.84
23,20947.32,22060.70,12869.07,13079.97,12895.43,12849.61

In [13]:
# Limpieza del dataset de gasto nivel
df_gastonivel = df_gastonivel[(df_gastonivel['year_id'] == 2016)]
df_gastonivel = df_gastonivel.groupby(['provincia_id', 'name'])['value'].aggregate('mean').unstack()

In [14]:
df_gastonivel['q'] =

name,inicial+primaria,privada,secundaria,sin_discriminar,snu
provincia_id,,,,,
0,40563029196,14423944392,37968909768,17744235281,5107257309
1,2130927341,498989306,1719851162,529817527,387059758
2,5669478141,1029350251,4261372042,1811722030,719000519
3,3922367978,346086722,2646603456,1190250245,547930436

In [15]:
# Limpieza del dataset de gasto objeto
df_gastoobjeto = df_gastoobjeto[(df_gastoobjeto['year_id'] == 2016)]
df_gastoobjeto = df_gastoobjeto.groupby(['provincia_id', 'name'])['value'].aggregate('mean').unstack()

In [16]:
df_gastoobjeto.head(4)

name,bienes_y_servicios_no_personales,erogacion_de_capital,personal,transferencias_educacion_privada,transferencias_otras
provincia_id,,,,,
0,1.779868e+09,1.425671e+09,9.810953e+10,1.442394e+10,6.836688e+07
1,1.675499e+08,1.984403e+08,4.290376e+09,4.989893e+08,1.112901e+08
2,3.075192e+08,3.592393e+08,1.150618e+10,1.029350e+09,2.886321e+08
3,3.062659e+08,3.208334e+08,7.635855e+09,3.460867e+08,4.419725e+07

In [17]:
# Merge de los dataset limpios
df = df.merge(df_escuelas, how='inner', on ='escuela_id')
df = df.merge(df_salario, how = 'inner', on = 'provincia_id')

In [23]:
cantidad = df.provincia_id.value_counts()

0     113692
6      35463
20     20871
12     16046
23     12377
16     12341
13     10500
7      10478
4       9190
5       8583
21      8023
17      7586
2       7200
9       7163
8       5591
3       4305
18      4085
15      4059
11      3440
10      2973
1       2893
14      2000
19      1550
22      1019
Name: provincia_id, dtype: int64

In [ ]:
df = df.dropna(axis=0)
print('#######SHAPE:','\n',df.shape,'\n','#######','\n')
print('#######VALUE_COUNTS:','\n',df['nivel_desemp_matematica'].value_counts(),'\n','#######','\n')
print('#######NULLs:','\n',(df.isnull().sum()/df.shape[0])*100,'\n','#######','\n')
print('#######BALANCE:','\n',df['nivel_desemp_matematica'].value_counts(),'\n','#######','\n')
df.to_csv('../Desafio 3/datasets/df_final.csv')

In [ ]:
"""
En este paso, levantamos el nuevo dataset y convertimos al tipo de dato category las columnas que consideramos categoricas
"""
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder 
from sklearn.preprocessing import RobustScaler
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.pipeline import make_pipeline, make_union, Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn import metrics
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

df = pd.read_csv('../Desafio 3/datasets/df_final.csv', parse_dates=True, na_values=['nc'], low_memory=False)
df = df.drop('Unnamed: 0', axis=1)
for i in df.columns:
    if (df[i].dtype == object) or i in ['nivel_id', 'escuela_id', 'provincia_id', 'departamento_id']:
        df[i] = pd.Categorical(df[i])

In [ ]:

"""A continuación ejecutamos modelos de regresión logistica para validar que el dataset final sea adecuado para trabajar .
"""
X = df.drop('nivel_desemp_matematica', axis=1)
y = df['nivel_desemp_matematica']
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify = y, random_state=42)

In [ ]:
class ColumnSelector(BaseEstimator, TransformerMixin):
    def __init__(self, columns = 'n'):
        self.columns = columns
    
    def transform(self, X, *_):
        if isinstance(X, pd.DataFrame):
            #c para tomar columnas categoricas, cualquier otro valor para tomar continuas.
            if self.columns == 'c':
                categorical_columns = [col for col in X.columns if pd.api.types.is_categorical_dtype(df[col])]
                return pd.DataFrame(X[categorical_columns])
            else:
                scal_columns = [col for col in X.columns if (pd.api.types.is_categorical_dtype(df[col]) == False)]
                return pd.DataFrame(X[scal_columns])
        else:
            raise TypeError("Este Transformador solo funciona en DF de Pandas")
    
    def fit(self, X, *_):
        return self
cat_pipe = make_pipeline(ColumnSelector('c'),OneHotEncoder(handle_unknown='ignore'))
num_pipe = make_pipeline(ColumnSelector('n'),StandardScaler())
union = make_union(num_pipe,
                   cat_pipe)

In [ ]:
#Este paso tarda bastante dado que ejecutamos un random grid search.
"""
RESULTADO: 
Best score: 0.739
Best parameters set:
	 log__C: 0.1
	 log__penalty: 'l2'
              precision    recall  f1-score   support

           0       0.77      0.81      0.79     44028
           1       0.69      0.63      0.66     29395

    accuracy                           0.74     73423
   macro avg       0.73      0.72      0.72     73423
weighted avg       0.73      0.74      0.74     73423

0.7373302643585797
"""
union.fit_transform(X)

pipeline = Pipeline([('union', union), 
                     ('log', LogisticRegression(solver='liblinear'))])

parameters = {'log__penalty': ['l1', 'l2'],
              'log__C': [0.01, 0.1, 1, 10, 100]}
folds=StratifiedKFold(n_splits=5,shuffle=True, random_state=42)
grid_search = RandomizedSearchCV(pipeline, parameters,cv=folds, n_jobs = 5)
grid_search.fit(pd.DataFrame(X_train, columns=X.columns), y_train)

print("Best score: %0.3f" % grid_search.best_score_) 
print("Best parameters set:" )
best_parameters = grid_search.best_estimator_.get_params()
for param_name in sorted (parameters . keys()): 
                    print("\t %s: %r" % (param_name, best_parameters[param_name])) 
y_pred = grid_search.best_estimator_.predict(X_test)
print(classification_report(y_test, y_pred))
print(accuracy_score(y_test, y_pred))